<ion-header>
  <ion-toolbar>
    <ion-title>
      Social share
    </ion-title>
  </ion-toolbar>
</ion-header>
 <ion-content>
	<div class="row"  *ngIf="from == 'social'">
		<div class="col" style="text-align: center;">
			<br />
			<span  style="text-align: center; font-size: 30px; color: #2cb5e8;" >
				Share with your friends AroundTheWOD App...<br />
				Choose your favorite social
			</span>
		
			<br />
			<br />
			<button ion-button color="primary" round icon-only (click)="doFacebook()">
				<ion-icon name="logo-facebook"></ion-icon>
			</button>
			<button ion-button color="primary" round icon-only (click)="doInstagram()">
				<ion-icon name="logo-instagram"></ion-icon> 
			</button>
			<button ion-button color="primary" round icon-only (click)="doTwitter()">
				<ion-icon name="logo-twitter"></ion-icon> 
			</button>
			<button ion-button color="primary" round icon-only (click)="doShare()">
				<ion-icon name="share"></ion-icon> 
			</button>
			
			
		<!--	<button ion-button color="primary" full (click)="doFacebook()">
				<ion-icon name="logo-facebook"></ion-icon>&nbsp;&nbsp;
				Share on Facebook
			</button>
			<button ion-button color="primary" full (click)="doInstagram()">
				<ion-icon name="logo-instagram"></ion-icon>&nbsp;&nbsp;
					Share on Instagram
			</button>
			<button ion-button color="primary" full (click)="doTwitter()">
				<ion-icon name="logo-twitter"></ion-icon>&nbsp;&nbsp;
				Share on Twitter
			</button>
			<button ion-button color="primary" full (click)="doShare()">
				<ion-icon name="logo-share"></ion-icon>&nbsp;&nbsp;
				Or choose another...
			</button>-->
		</div>
	</div>
	<div class="row"  *ngIf="from == 'login'">
		<div class="col" style="text-align: center;">
			<button (click)="loginGoogle()" ion-button icon-left>
			  <ion-icon name="logo-google"></ion-icon>&nbsp;&nbsp;
				Login with google
			</button>
		</div>
	</div>
	
	<br />
	<div class="centraTutto"  style="text-align: center;">
		<button (click)="dismiss()" ion-button icon-left>
			<ion-icon name="back"></ion-icon>
			Close
		</button>
	</div>
</ion-content>