<ion-header  class="colorPersonal">
	<ion-toolbar>
		<ion-title *ngIf="from == 'social'">
			Social share
		</ion-title>
		<ion-title *ngIf="from == 'login'">
			Social login
		</ion-title>
		<ion-title    *ngIf="from == 'info'">
			<span style="color: #336799;">Who we are?</span>
		</ion-title>
		<ion-title *ngIf="from == 'termini'">
				<span style="color: #336799;">Terms</span>

		
		</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<div class="row" *ngIf="from == 'social'">
		<div class="col" style="text-align: center;">
			<br />
			<span style="text-align: center; font-size: 30px;" color="personal3">
				Share with your friends AroundTheWOD App...
				<br /> Choose your favorite social
			</span>

			<br />
			<br />
			<button ion-button class="buttonNavSenzaFont" round icon-only (click)="doFacebook()">
				<ion-icon name="logo-facebook"></ion-icon>
			</button>
			<button ion-button class="buttonNavSenzaFont" round icon-only (click)="doShare()">
				<ion-icon name="share"></ion-icon>
			</button>

			<br />
			<br /> * To share on Instagram or Facebook you can paste a message manually
			<!--
			<button ion-button class="buttonNavSenzaFont" round icon-only (click)="doInstagram()">
				<ion-icon name="logo-instagram"></ion-icon>
			</button>
			<button ion-button class="buttonNavSenzaFont" round icon-only (click)="doTwitter()">
				<ion-icon name="logo-twitter"></ion-icon>
			</button>
		-->
		
			<!--	<button ion-button color="primary" full (click)="doFacebook()">
				<ion-icon name="logo-facebook"></ion-icon>&nbsp;&nbsp;
				Share on Facebook
			</button>
			<button ion-button color="primary" full (click)="doInstagram()">
				<ion-icon name="logo-instagram"></ion-icon>&nbsp;&nbsp;
					Share on Instagram
			</button>
			<button ion-button color="primary" full (click)="doTwitter()">
				<ion-icon name="logo-twitter"></ion-icon>&nbsp;&nbsp;
				Share on Twitter
			</button>
			<button ion-button color="primary" full (click)="doShare()">
				<ion-icon name="logo-share"></ion-icon>&nbsp;&nbsp;
				Or choose another... loginGoogle1
			</button>-->
		</div>
	</div>
	<div class="row" *ngIf="from == 'login'">
		<div class="col" style="text-align: center;" *ngIf="!_isiOS && androidVersion >= 6">
			<button (click)="loginGoogle()" class="buttonNavSenzaFont" ion-button icon-left>
				<ion-icon name="logo-google"></ion-icon>&nbsp;&nbsp; Login with google
			</button>
		</div>
		<div class="col" style="text-align: center;" *ngIf="!_isiOS && androidVersion >= 6">
			<button (click)="loginFacebook()" class="buttonNavSenzaFont" ion-button icon-left>
				<ion-icon name="logo-facebook"></ion-icon>&nbsp;&nbsp; Login with facebook
			</button>
		</div>
		<div class="col" style="text-align: center;">
			<button (click)="loginInstagram()" class="buttonNavSenzaFont" ion-button icon-left>
				<ion-icon name="logo-instagram"></ion-icon>&nbsp;&nbsp; Login with instagram
			</button>
		</div>
	</div>
	<br />
	<div *ngIf="from == 'info'" class="centraTutto" style="text-align: center; color: black; padding: 10px;">
		<img src="assets/images/ket.jpg" class="img-circular centraTutto" style="border-radius: 100px; border: 1px solid #2cb5e8;">
		<br />
		<br />
		<span style="text-align: center; font-size: 30px; color: #2cb5e8;">
			AroundTheWod App...
			<br /> </span>
		<br />
		<span *ngIf="global.language != 'it'" style="text-align: center; font-size: 15px; color: #2cb5e8;">
			was born from the idea of bringing to all outdoor athletes, competitors or not, knowledge about the many sports locations
			that each municipality makes available for citizens. From fitness trails to parks equipped with facilities for bodyweight
			training, from trail-run paths to real open-air gyms. From today, all this is traceable and reachable with one click.
			Sport is a source of incitement, well-being, but overall sharing. Get off your comfort zone and be part of Around The
			Wod Community.
			<br />
		</span>
		<span *ngIf="global.language != 'it'" style="text-align: center; font-size: 20px; color: #2cb5e8;">
			The discovery starts now!
			<br /> </span>
		<span *ngIf="global.language == 'it'" style="text-align: center; font-size: 15px; color: #2cb5e8;">
			nasce dall'idea di portare tutti gli sportivi outdoor, agonisti e non, a conoscenza delle varie location a sfondo sportivo
			che ogni comune mette a disposizione  dei propri cittadini. Dai percorsi vita ai parchi attrezzati con strutture per praticare
			allenamento a corpo libero,dai tracciati dedicati al trail run alle vere e proprie palestre a cielo aperto... Da oggi
			,tutte rintracciabili e raggiungibili con un solo click. Lo sport è  fonte di stimolo, benessere, ma soprattutto condivisione.
			Uscite dalla vostra zona di comfort ed entrate a far parte della ArounTheWod  Community.
			<br />
		</span>
		<span *ngIf="global.language == 'it'" style="text-align: center; font-size: 20px; color: #2cb5e8;">
			La scoperta inizia ora...
			<br /> </span>
	</div>

	<br />
	<div *ngIf="from == 'termini'" class="centraTutto" style="text-align: center; color: black; padding: 10px;">
		<span>
				<h2>End User License Agreement</h2><br />
				AroundTheWod App 0.*
				Copyright (c) 2018 Guerrieri Nicola <br />
				
				*** END USER LICENSE AGREEMENT ***
				
				IMPORTANT: PLEASE READ THIS LICENSE CAREFULLY BEFORE USING THIS SOFTWARE. 
				
				<br /><h3>1. LICENSE</h3><br />
				
				By receiving, opening the file package, and/or using AroundTheWod App 0.*("Software") containing this software, you agree that this End User User License Agreement(EULA) is a legally binding and valid contract and agree to be bound by it. You agree to abide by the intellectual property laws and all of the terms and conditions of this Agreement.
				
				Unless you have a different license agreement signed by Guerrieri Nicola your use of AroundTheWod App 0.* indicates your acceptance of this license agreement and warranty.
				
				Subject to the terms of this Agreement, Guerrieri Nicola grants to you a limited, non-exclusive, non-transferable license, without right to sub-license, to use AroundTheWod App 0.* in accordance with this Agreement and any other written agreement with Guerrieri Nicola. Guerrieri Nicola does not transfer the title of AroundTheWod App 0.* to you; the license granted to you is not a sale. This agreement is a binding legal agreement between Guerrieri Nicola and the purchasers or users of AroundTheWod App 0.*.
				
				If you do not agree to be bound by this agreement, remove AroundTheWod App 0.* from your computer now and, if applicable, promptly return to Guerrieri Nicola by mail any copies of AroundTheWod App 0.* and related documentation and packaging in your possession.
				
				<br /><h3>2. DISTRIBUTION</h3><br />
				
				AroundTheWod App 0.* and the license herein granted shall not be copied, shared, distributed, re-sold, offered for re-sale, transferred or sub-licensed in whole or in part except that you may make one copy for archive purposes only. For information about redistribution of AroundTheWod App 0.* contact Guerrieri Nicola.
				
				<br /><h3>3. USER AGREEMENT</h3><br />
				
				<br /><h3>3.1 Use</h3><br />
				
				Your license to use AroundTheWod App 0.* is limited to the number of licenses purchased by you. You shall not allow others to use, copy or evaluate copies of AroundTheWod App 0.*.
				
				<br /><h3>3.2 Use Restrictions</h3><br />
				
				You shall use AroundTheWod App 0.* in compliance with all applicable laws and not for any unlawful purpose. Without limiting the foregoing, use, display or distribution of AroundTheWod App 0.* together with material that is pornographic, racist, vulgar, obscene, defamatory, libelous, abusive, promoting hatred, discriminating or displaying prejudice based on religion, ethnic heritage, race, sexual orientation or age is strictly prohibited.
				
				Each licensed copy of AroundTheWod App 0.* may be used on one single computer location by one user. Use of AroundTheWod App 0.* means that you have loaded, installed, or run AroundTheWod App 0.* on a computer or similar device. If you install AroundTheWod App 0.* onto a multi-user platform, server or network, each and every individual user of AroundTheWod App 0.* must be licensed separately.
				
				You may make one copy of AroundTheWod App 0.* for backup purposes, providing you only have one copy installed on one computer being used by one person. Other users may not use your copy of AroundTheWod App 0.* . The assignment, sublicense, networking, sale, or distribution of copies of AroundTheWod App 0.* are strictly forbidden without the prior written consent of Guerrieri Nicola. It is a violation of this agreement to assign, sell, share, loan, rent, lease, borrow, network or transfer the use of AroundTheWod App 0.*. If any person other than yourself uses AroundTheWod App 0.* registered in your name, regardless of whether it is at the same time or different times, then this agreement is being violated and you are responsible for that violation!
				
				<br /><h3>3.3 Copyright Restriction</h3><br />
				
				This Software contains copyrighted material, trade secrets and other proprietary material. You shall not, and shall not attempt to, modify, reverse engineer, disassemble or decompile AroundTheWod App 0.*. Nor can you create any derivative works or other works that are based upon or derived from AroundTheWod App 0.* in whole or in part.
				
				Guerrieri Nicola's name, logo and graphics file that represents AroundTheWod App 0.* shall not be used in any way to promote products developed with AroundTheWod App 0.* . Guerrieri Nicola retains sole and exclusive ownership of all right, title and interest in and to AroundTheWod App 0.* and all Intellectual Property rights relating thereto.
				
				Copyright law and international copyright treaty provisions protect all parts of AroundTheWod App 0.*, products and services. No program, code, part, image, audio sample, or text may be copied or used in any way by the user except as intended within the bounds of the single user program. All rights not expressly granted hereunder are reserved for Guerrieri Nicola.
				
				<br /><h3>3.4 Limitation of Responsibility</h3><br />
				
				You will indemnify, hold harmless, and defend Guerrieri Nicola , its employees, agents and distributors against any and all claims, proceedings, demand and costs resulting from or in any way connected with your use of Guerrieri Nicola's Software.
				
				In no event (including, without limitation, in the event of negligence) will Guerrieri Nicola , its employees, agents or distributors be liable for any consequential, incidental, indirect, special or punitive damages whatsoever (including, without limitation, damages for loss of profits, loss of use, business interruption, loss of information or data, or pecuniary loss), in connection with or arising out of or related to this Agreement, AroundTheWod App 0.* or the use or inability to use AroundTheWod App 0.* or the furnishing, performance or use of any other matters hereunder whether based upon contract, tort or any other theory including negligence.
				
				Guerrieri Nicola's entire liability, without exception, is limited to the customers' reimbursement of the purchase price of the Software (maximum being the lesser of the amount paid by you and the suggested retail price as listed by Guerrieri Nicola ) in exchange for the return of the product, all copies, registration papers and manuals, and all materials that constitute a transfer of license from the customer back to Guerrieri Nicola.
				
				<br /><h3>3.5 Warranties</h3><br />
				
				Except as expressly stated in writing, Guerrieri Nicola makes no representation or warranties in respect of this Software and expressly excludes all other warranties, expressed or implied, oral or written, including, without limitation, any implied warranties of merchantable quality or fitness for a particular purpose.
				
				<br /><h3>3.6 Governing Law</h3><br />
				
				This Agreement shall be governed by the law of the Italy applicable therein. You hereby irrevocably attorn and submit to the non-exclusive jurisdiction of the courts of Italy therefrom. If any provision shall be considered unlawful, void or otherwise unenforceable, then that provision shall be deemed severable from this License and not affect the validity and enforceability of any other provisions.
				
				<br /><h3>3.7 Termination</h3><br />
				
				Any failure to comply with the terms and conditions of this Agreement will result in automatic and immediate termination of this license. Upon termination of this license granted herein for any reason, you agree to immediately cease use of AroundTheWod App 0.* and destroy all copies of AroundTheWod App 0.* supplied under this Agreement. The financial obligations incurred by you shall survive the expiration or termination of this license.
				
				<br /><h3>4. DISCLAIMER OF WARRANTY</h3><br />
				
				THIS SOFTWARE AND THE ACCOMPANYING FILES ARE SOLD "AS IS" AND WITHOUT WARRANTIES AS TO PERFORMANCE OR MERCHANTABILITY OR ANY OTHER WARRANTIES WHETHER EXPRESSED OR IMPLIED. THIS DISCLAIMER CONCERNS ALL FILES GENERATED AND EDITED BY AroundTheWod App 0.* AS WELL.
				
				<br /><h3>5. CONSENT OF USE OF DATA</h3><br />
				
				You agree that Guerrieri Nicola may collect and use information gathered in any manner as part of the product support services provided to you, if any, related to AroundTheWod App 0.*.Guerrieri Nicola may also use this information to provide notices to you which may be of use or interest to you.
					 
		</span>
	</div>
	<div *ngIf="from == 'fast' && androidVersion >= 6" class="col" style="text-align: center;">
		<button (click)="loginSocial('google')" class="buttonNavSenzaFont" ion-button icon-left>
			<ion-icon name="logo-google"></ion-icon>&nbsp;&nbsp; Login with google
		</button>
	</div>

	<div *ngIf="from == 'fast' && androidVersion >= 6" class="col" style="text-align: center;">
		<button (click)="loginSocial('facebook')" class="buttonNavSenzaFont" ion-button icon-left>
			<ion-icon name="logo-facebook"></ion-icon>&nbsp;&nbsp; Login with facebook
		</button>
	</div>
	<div *ngIf="from == 'fast'" class="col" style="text-align: center;">
		<button (click)="loginSocial('instagram')" class="buttonNavSenzaFont" ion-button icon-left>
			<ion-icon name="logo-instagram"></ion-icon>&nbsp;&nbsp; Login with instagram
		</button>
	</div>
	<br />
	<div class="centraTutto" style="text-align: center;">
		<button (click)="dismiss()" ion-button class="buttonNavSenzaFont" icon-left>
			<ion-icon name="back" showWhen="android,windows,ios"></ion-icon>
			Close
		</button>
	</div>
</ion-content>