// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
 
ion-navbar > div.toolbar-background, ion-navbar > div.button-effect, ion-navbar > div.button-effect::after, ion-navbar > div.bar-button-default-md, ion-navbar > div.bar-button-clear-md-default, ion-navbar > div.bar-button-md-default {
	background-color: color($colors, apersonal3) !important;
	color: white;
}
::-webkit-scrollbar {
  display: none;
}
.platform-ios .toolbar-title{
	color: white;
}
.toolbar-title{
	color: white;
}
.button-md .button-effect{
	background-color:  map-get($colors, personal3);
}
.button-md{
	background-color:  map-get($colors, personal3);
}
.button-md::hover{
	background-color:  map-get($colors, personal2);
}
.button-md.activated{
	background-color:  map-get($colors, personal3);
}
.buttonNavText{
	color: white;
}
.platform-ios .centraTutto{
	display:block;
	margin:auto;
}
.platform-android .centraTutto{
	display:block;
	margin:auto;
}
.centraTutto{
	display:block;
	margin:auto;
}
.profileImage{
	width: 50px;
	height: 50px;
	border-radius: 50px;
}
.logoImage{
	border-radius: 50px;
	border: 1px solid map-get($colors, personal3);
}
#map {
    width: 100%;
    height: 200px;
}
ion-list{
	margin-bottom: 1px !important;
}
ion-list .platform-ios{
	margin-bottom: 1px !important;
}
.center {
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
}
.grandezza{
	width: 90%;
	height: 20%;
}
.img-circular{
	width: 170px;
	height: 170px;
	background-size: cover;
	display: block;
	border: 0px !important;
	border-bottom-color: transparent !important;
	border-radius: 50px;

}
ion-app.md [padding],
ion-app.md [padding] .scroll-content {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.paddingOnFooter{
	margin-bottom: 70px;
}
.cardR{
	width: 100%; 
	margin-left: 0; 
	margin-bottom: 0px;
	margin-top: 0px; 
	text-align: left;
	padding-top: 5px;
}
.paddingCustom{
	padding: 15px;
}
.footerMenu{
	float: right; font-size: 15px;
}
.hrS{
	height: 3px; 
	font-size: 2px; 
	width: 100%;
	background:  color($colors, personal3) !important;
}
.img-circular3{
	width: 200px;
	height: 200px;
	background-size: cover;
	display: block;
}
.imgDetail{ 
	height: 30vh;
	width: auto;
	margin: auto;
	display: block;
	border-radius: 80px;
}
.imgDetailLittle{ 
	height: 10vh;
	width: auto;
	margin: auto;
	display: block;
	border-radius: 100px;
}

.bottoni {
	background-color: color($colors, consiglioGiallo) !important;
}
.bottoniJustText {
	color: color($colors, consiglioGiallo) !important;
}
.buttonFab{
	color: white;
	@extend .bottoni;
}
button.buttonClass{
	@extend .bottoni;
	color: white !important;
}
.buttonNav{
	font-size: 30px !important;
	color: white !important;
	@extend .bottoni;
}
.buttonNavHeader{
	font-size: 30px !important;
	color: white !important;
	background-color: color($colors, personal3) !important;
}
.buttonNavSenzaFont{
	color: white !important;
	@extend .bottoni;

}
.detailButton{
	background-color: white; 
	font-size:17px; 
	font-weight: bold;
	@extend .bottoniJustText;
}
.disabilita{
	color: white !important;
	@extend .bottoni;
	font-size: 15px;
  }
  .disabilitaBlue{
	@extend .bottoni;

	color: white !important;
	font-size: 15px;
  }
  .buttonNavSenzaFontRound{
	color: white !important;
	background-color: color($colors, personal3) !important;
	font-size: 15px;
  }

.inputSearch{
	text-align: center;
	border: 2px solid white !important;
	border-radius: 10px;
}

/* git config --global user.email "guerrierinicola@gmail.com"
git config --global user.name "guerrierinicola@gmail.com" */


.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child{
	border-bottom-color: color($colors, blueGray) !important;
	box-shadow: inset 0 -1px 0 0  color($colors, blueGray) !important;

  
  }
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
	border-bottom-color: color($colors, blueGray) !important;
	box-shadow: inset 0 -1px 0 0  color($colors, blueGray) !important;
  }


  hr {
	height: 2px !important;
	width: 90% !important;
	background: gray !important;
	display: block !important;
	font-size: 2em !important;
	visibility: visible !important;
  }

  .divDetail{

    border: 1px solid color($colors, blueGray) !important;
    border-radius: 15px;
    padding: 20px;

  }

  .colora{
	background-color: color($colors, consiglioGiallo) !important;
	border-radius: 15px;
	border: 1px solid transparent;
	color: white;	
  }