<ion-header class="colorPersonal">
	<ion-navbar>
		<ion-title>
			<span *ngIf="luogoSelezionato && !nuovoLuogo">Detail</span>
			<span *ngIf="nuovoLuogo">Insert new place</span>
		</ion-title>

		<ion-buttons end>
			<button *ngIf="global.userLogged" ion-button>
				<img *ngIf="global.userLogged.picture" class="profileImage" [src]="global.userLogged.picture" />
			</button>
			<!--		<button *ngIf="!nuovoLuogo" (click)="openMapsApp()"  ion-button>
 			<img  src="assets/images/g.png"  style="width: 30px; height: 30px; border-radius: 0px;" alt="" class="imgDetail">
 		</button>-->
		</ion-buttons>
	</ion-navbar>
</ion-header>

<br />
<ion-content padding style="text-align: center">
	<ion-chip style="width: 85%;" *ngIf="luogoSelezionato && !nuovoLuogo">
		<ion-label style="width: 85%;" *ngIf="luogoSelezionato && !nuovoLuogo">{{luogoSelezionato.ricerca}}</ion-label>
	</ion-chip>
	<br />
	<ion-list *ngIf="nuovoLuogo">
		<ion-item>
			<ion-input color="personal3" style="" class="centraTutto" *ngIf="nuovoLuogo" (tap)="showAddressModal()" [(ngModel)]="nuovoLuogoObject.ricerca"
			 type="text" placeholder="Pick a place"></ion-input>

			<!-- 	<ion-input type="text" placeholder="Place" floating  [(ngModel)]="nuovoLuogoObject.ricerca" *ngIf="nuovoLuogo"></ion-input>
	<ion-input readonly type="text" placeholder="ricerca" floating [(ngModel)]="luogoSelezionato.ricerca" *ngIf="luogoSelezionato && !nuovoLuogo"></ion-input>-->
			<button *ngIf="nuovoLuogo" (click)="loadMapVed()" clear ion-button item-right class="buttonNavSenzaFont" style="color: white; font-size:15px">
				<ion-icon name="search"></ion-icon>
			</button>
			<button *ngIf="nuovoLuogo" (click)="geolocalizza()" clear ion-button item-right class="buttonNavSenzaFont" style="color: white; font-size:15px">
				<ion-icon style="font-size: 20px" name="ios-navigate-outline"></ion-icon>
			</button>
		</ion-item>
	</ion-list>
	<br />
	<div #map id="map"></div>
	<ion-fab right bottom class="paddingOnFooter">
		<button mini *ngIf="nuovoLuogo" (click)="scrollToBottom()" ion-fab class="buttonFab">
			<ion-icon name="arrow-dropdown"></ion-icon>
		</button>
		<button *ngIf="luogoSelezionato && !nuovoLuogo" (click)="openMapsApp()" ion-fab class="buttonFab">
			<img src="{{global.preUrl}}/images/g.png" style="width: 30px; height: 30px; border-radius: 0px;" alt="" class="imgDetail">
		</button>

	</ion-fab>
	<div class="" *ngIf="nuovoLuogo">
		<span class="genericText">Select what can I do: </span>
		<br />

		<button *ngFor="let item of listaAttivita" (click)="selectActivity(item.nome)" [ngClass]="{ 'disabilita': item.selezionato, 'buttonNavSenzaFontRound': !item.selezionato}"
		 ion-button icon-only>
			<ion-icon *ngIf="!item.img" name="{{ item.nome }}"></ion-icon>
			<img *ngIf="item.img" src="{{global.preUrl}}/images/{{item.img}}" style="" alt="" class="imgDetail altreIcona">
		</button>
	</div>
	<br />
	<div class="centraTutto" *ngIf="luogoSelezionato && !nuovoLuogo">
		<span class="genericText">What i can do: </span>
		<br />
		<span *ngFor="let item of luogoSelezionato.listaAttivita">
			<button class="disabilitaBlue" ion-button icon-only *ngIf="item.selezionato" (click)="showDescriptionIconSport(item.mostra)">

				<ion-icon *ngIf="!item.img && item.selezionato" name="{{ item.nome }}"></ion-icon>
				<img *ngIf="item.img && item.selezionato" src="{{global.preUrl}}/images/{{item.img}}" class="imgDetail altreIcona">
			</button>
		</span>
	</div>
	<br />


	<!-- se selezionato scorro la lista e prendo solo i nomi e mostro disabilitati, se nuovo faccio vedere tutti, faccio selezionare-->
	<div class="centraTutto">
		<div class="col" style="text-align: center; font-size: 20px; color: #0f635d;" *ngIf="nuovoLuogoObject">
			<div class="row text-center" *ngIf="nuovoLuogoObject.errore">
				{{nuovoLuogoObject.errore}}
			</div>
		</div>
	</div>
	<div *ngIf="luogoSelezionato && !nuovoLuogo">
		<h2>
			<b>
				<ion-label *ngIf="luogoSelezionato && !nuovoLuogo">City: {{luogoSelezionato.citta}}, {{luogoSelezionato.provincia}}, Nation: {{luogoSelezionato.nazione}} </ion-label>
			</b>
		</h2>
		<h3>
			<ion-label *ngIf="luogoSelezionato && !nuovoLuogo">  Street: {{luogoSelezionato.via}} </ion-label>
			<ion-label *ngIf="luogoSelezionato && !nuovoLuogo"> Description: {{luogoSelezionato.descrizione}} </ion-label>

		</h3>
	</div>
	<ion-list *ngIf="nuovoLuogo">
		<ion-item>
			<ion-input type="text" placeholder="City" [(ngModel)]="nuovoLuogoObject.citta" *ngIf="nuovoLuogo"></ion-input>
			<!-- <ion-input readonly type="text" placeholder="City" [(ngModel)]="luogoSelezionato.citta" *ngIf="luogoSelezionato && !nuovoLuogo"></ion-input> -->
		</ion-item>
	</ion-list>

	<ion-list *ngIf="nuovoLuogo">
		<ion-item>
			<ion-input type="text" placeholder="District" [(ngModel)]="nuovoLuogoObject.provincia" *ngIf="nuovoLuogo"></ion-input>
			<!-- <ion-input type="text" readonly placeholder="District" [(ngModel)]="luogoSelezionato.provincia" *ngIf="luogoSelezionato && !nuovoLuogo"></ion-input> -->
		</ion-item>
	</ion-list>
	<ion-list *ngIf="nuovoLuogo">
		<ion-item class="nowrap">
			<ion-input type="text" [(ngModel)]="nuovoLuogoObject.nazione" placeholder="Nation" *ngIf="nuovoLuogo"></ion-input>
			<!-- <ion-input type="text" readonly placeholder="Nation" [(ngModel)]="luogoSelezionato.nazione" *ngIf="luogoSelezionato && !nuovoLuogo"></ion-input> -->
		</ion-item>
	</ion-list>
	<ion-list *ngIf="nuovoLuogo">
		<ion-item>
			<ion-input type="text" placeholder="Street" [(ngModel)]="nuovoLuogoObject.via" *ngIf="nuovoLuogo"></ion-input>
		</ion-item>
	</ion-list>
	<ion-list *ngIf="nuovoLuogo">
		<ion-item>
			<ion-input type="text" [(ngModel)]="nuovoLuogoObject.cap" placeholder="Cap" *ngIf="nuovoLuogo"></ion-input>
			<!-- <ion-input type="text" readonly placeholder="Cap" [(ngModel)]="luogoSelezionato.cap" *ngIf="luogoSelezionato && !nuovoLuogo"></ion-input> -->
		</ion-item>
	</ion-list>
	<ion-list *ngIf="nuovoLuogo">
		<ion-item>
			<ion-input type="text" placeholder="description" [(ngModel)]="nuovoLuogoObject.descrizione" *ngIf="nuovoLuogo"></ion-input>
			<!-- <ion-input hidden type="text" readonly placeholder="Your mail" [(ngModel)]="luogoSelezionato.mail" *ngIf="luogoSelezionato && !nuovoLuogo"></ion-input> -->
		</ion-item>
	</ion-list>
	<ion-list *ngIf="nuovoLuogo">
		<ion-item>
			<ion-input type="email" placeholder="Your mail" [(ngModel)]="nuovoLuogoObject.mail" *ngIf="nuovoLuogo"></ion-input>
			<!-- <ion-input hidden type="text" readonly placeholder="Your mail" [(ngModel)]="luogoSelezionato.mail" *ngIf="luogoSelezionato && !nuovoLuogo"></ion-input> -->
		</ion-item>
	</ion-list>
	<div>
		<div class="col" style="text-align: center; font-size: 20px; color: #0f635d;" *ngIf="nuovoLuogoObject">
			<div class="row text-center" *ngIf="nuovoLuogoObject.errore">
				{{nuovoLuogoObject.errore}}
			</div>
		</div>
	</div>
	<div *ngIf="nuovoLuogoObject">
		<ion-icon (click)="deletePicture()" *ngIf="nuovoLuogoObject.imageUrl" ios="ios-close-circle" md="md-close-circle"></ion-icon>
		<img *ngIf="nuovoLuogoObject.imageUrl" class="grandezza" src="{{nuovoLuogoObject.imageUrl}}">
	</div>
	<div *ngIf="luogoSelezionato">
		<img *ngIf="luogoSelezionato.imageUrl" class="grandezza" src="{{luogoSelezionato.imageUrl}}">
	</div>
	<br />
	<p *ngIf="!nuovoLuogo">Friends who train here:</p>
	<br />

	<div class="textNoResults centraTutto" *ngIf="listaRaccordo.length == 0 && !nuovoLuogo">
		<ion-icon ios="ios-sad" md="md-sad"></ion-icon>
		No friends found for this place...
	</div>
	<ion-card *ngFor="let item of listaRaccordo" (click)="goDetail(item.organizzazione)" tappable style="width: 100%; margin-left: 0; margin-bottom: 10px; text-align: left;">
		<ion-card-content>
			<ion-card-title>
				{{ item.organizzazione.nome }}, {{ item.organizzazione.citta }}
				<br /> {{ item.organizzazione.tipo }}
			</ion-card-title>
			<p>
				{{ item.organizzazione.descrizione }}
				<br /> Where: {{ item.organizzazione.dove }}
				<br /> {{ item.organizzazione.telefono }}
				<br />
				<a *ngIf="item.organizzazione.url_social" href="{{ item.organizzazione.url_social }}">
					<ion-icon name="logo-facebook" class="bottoniJustText" style="font-size: 50px;"></ion-icon>
				</a>
				<a *ngIf="item.organizzazione.url_social_instagram" href="{{ item.organizzazione.url_social_instagram }}">
					<ion-icon name="logo-instagram" class="bottoniJustText" style="font-size: 50px;"></ion-icon>
				</a>
			</p>
		</ion-card-content>
		<ion-row no-padding>
			<ion-col>

			</ion-col>
			<ion-col text-center>

			</ion-col>
			<ion-col text-right>
				<button ion-button class="detailButton" clear small icon-left>
					<ion-icon name='share-alt'></ion-icon>
					Detail
				</button>
			</ion-col>
		</ion-row>
	</ion-card>


	<button (click)="back()" class="buttonNavSenzaFont" ion-button icon-left>
		Back
	</button>
	<button *ngIf="nuovoLuogo" class="buttonNavSenzaFont" (click)="salva()" ion-button icon-left>
		Save
	</button>
	<button *ngIf="nuovoLuogo" class="buttonNavSenzaFont" (click)="takePicture()" ion-button>
		<ion-icon *ngIf="!nuovoLuogoObject.imageUrl" ios="ios-camera" md="md-camera"></ion-icon>
	</button>
	<br />
	<div class="row">
		<div class="col" style="text-align: center; height: 40px;">

		</div>
	</div>
</ion-content>

<footer [userLogged]="global.userLogged"></footer>