<ion-header class="colorPersonal">
  <ion-navbar>
    <ion-title>
      {{global.title}}
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
	
	<div #map id="map"></div>  
	<br />
	<br />
	
	<div class="row text-center" *ngIf="luogoSelezionato">
		<img *ngIf="luogoSelezionato.foto" src="{{global.preUrl}}users/leggi/{{luogoSelezionato.foto}}" alt="" class="imgDetail">
	</div>
	<ion-list>
		<ion-item>
			<ion-label color="primary" stacked>Where</ion-label>	<ion-img class="imgDetail" *ngIf="luogoSelezionato"  src="provaV2/users/leggi/{{luogoSelezionato.foto}}"></ion-img>
	
			<ion-input readonly type="text" placeholder="ricerca" floating [(ngModel)]="luogoSelezionato.ricerca" *ngIf="luogoSelezionato"></ion-input>
		</ion-item>
	</ion-list>
	<br />
	<br />
	<ion-list>
		<ion-item>
			<ion-label color="primary" stacked>City</ion-label>
			<ion-input readonly type="text" placeholder="Citta" floating [(ngModel)]="luogoSelezionato.citta" *ngIf="luogoSelezionato"></ion-input>
		</ion-item>
	</ion-list>
	<br />
	<br />
	<ion-list>
		 <ion-item>
			<ion-label color="primary" stacked>District</ion-label>
			<ion-input type="text" readonly placeholder="Provincia"   floating [(ngModel)]="luogoSelezionato.provincia" *ngIf="luogoSelezionato"></ion-input>
		</ion-item>
	</ion-list>
	<br />
	<br />
	<ion-list>
		<ion-item class="nowrap">
			<ion-label color="primary" stacked>Nation</ion-label>
			<ion-input type="text" readonly placeholder="Nome" floating [(ngModel)]="luogoSelezionato.nome" *ngIf="luogoSelezionato"></ion-input>
		</ion-item>
	</ion-list>
	<br />
	<br />
	<ion-list>
		<ion-item>
		<ion-label color="primary" stacked>Street</ion-label>
		<ion-input type="text" readonly placeholder="via"  floating [(ngModel)]="luogoSelezionato.via" *ngIf="luogoSelezionato"></ion-input>
		</ion-item>
	</ion-list>
	<br />
	<br />
	<ion-list>
		<ion-item>
		<ion-label color="primary" stacked>CAP</ion-label>
		<ion-input type="text" readonly placeholder="cap" floating [(ngModel)]="luogoSelezionato.cap" *ngIf="luogoSelezionato"></ion-input>
		</ion-item>
	</ion-list>
	<br />
	<br />
	<ion-list>
		<ion-item>
		<ion-label color="primary" stacked>Description</ion-label>
		<ion-input type="text" readonly placeholder="descrizione" floating [(ngModel)]="luogoSelezionato.descrizione" *ngIf="luogoSelezionato"></ion-input>
		</ion-item>
	</ion-list>
		<br />
	<br />
	<ion-list>
		<ion-item>
		<ion-label color="primary" stacked>Bar, restaurant</ion-label>
		<ion-input type="text" readonly placeholder="Ristoro" floating [(ngModel)]="luogoSelezionato.punto_risotro" *ngIf="luogoSelezionato"></ion-input>
		</ion-item>
	</ion-list>
			<br />
	<br />
	<ion-list>
		<ion-item>
		<ion-label color="primary" stacked>Workout equipment</ion-label>
		<ion-input type="text" readonly placeholder="attrezzature" floating [(ngModel)]="luogoSelezionato.attrezzature" *ngIf="luogoSelezionato"></ion-input>
		</ion-item>
	</ion-list>
	<br />
	<br />
	<ion-list>
		<ion-item>
		<ion-label color="primary" stacked>Time</ion-label>
		<ion-input type="text" readonly placeholder="orario" floating [(ngModel)]="luogoSelezionato.orario" *ngIf="luogoSelezionato"></ion-input>
		</ion-item>
	</ion-list>
	<div class="row">
		<div class="col" style="text-align: center;">
			<button (click)="back()" ion-button icon-left>
			  <ion-icon name="back"></ion-icon>
				Back
			</button>
		</div>
	</div>
</ion-content>
 <ion-footer class="centraTutto">
  <ion-toolbar style="color: white; font-size: 35px;"  >
	<ion-title class="centraTutto">Tell friends</ion-title>
	<div class="centraTutto" style="padding-left: 15px;">
		<ion-icon name="logo-facebook"></ion-icon>
		<ion-icon name="logo-instagram"></ion-icon>
		<ion-icon name="logo-google"></ion-icon>
	</div>
  </ion-toolbar>
</ion-footer>