<ion-header class="colorPersonal">
  <ion-navbar>
    <ion-title>
      {{global.title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="text-align: center;">

	 <ion-fab  right bottom>
		<button mini (click)="scrollToBottom()" ion-fab color="personal3"><ion-icon name="arrow-dropdown"></ion-icon></button>
	</ion-fab>
	Your search: <br />
	<ion-chip>
	  <ion-label>{{citta}}</ion-label>
	</ion-chip>
	<br />
	<br />
	Our friends: <br />
	<ion-card *ngFor="let item of listaOrganizzazioni" (click)="selectOrg(item._id)" tappable style="width: 100%; margin-left: 0; margin-bottom: 10px; text-align: left;">
	  <ion-card-content >
		<ion-card-title>
		  {{ item.nome }},   {{ item.citta }} <br />  {{ item.tipo }}
		  </ion-card-title>
		<p>
			{{ item.descrizione }} <br />
			Where: {{ item.dove }} <br />
			{{ item.telefono }}<br />
			<a *ngIf="item.url_social" href="{{ item.url_social }}" >
				<ion-icon name="logo-facebook"  color="personal3" style="font-size: 50px;"></ion-icon>
			</a>
      <a *ngIf="item.url_social_instagram" href="{{ item.url_social_instagram }}" >
        <ion-icon name="logo-instagram"  color="personal3" style="font-size: 50px;"></ion-icon>
      </a>
		</p>
	  </ion-card-content>
	</ion-card>
	
	<ion-card *ngFor="let item of listaRaccordo" (click)="selectOrg(item._id)" tappable style="width: 100%; margin-left: 0; margin-bottom: 10px; text-align: left;">
	  <ion-card-content >
		<ion-card-title>
		  {{ item.id }} 
		  </ion-card-title>
		<p>
			 
		</p>
	  </ion-card-content>
	</ion-card>
	
	
	<div  class="textNoResults"  *ngIf="!listaOrganizzazioni">
		<ion-icon   ios="ios-sad" md="md-sad"></ion-icon>
		No results found for this place...
	</div>
</ion-content>
 <ion-footer class="centraTutto">
  <ion-toolbar style="color: white; font-size: 35px;"  >
	<ion-title class="centraTutto">Follow us</ion-title>
	<div class="centraTutto" style="padding-left: 15px;">
		<a (click)="global.openSocial('facebook')" >
			<ion-icon name="logo-facebook"></ion-icon>
		</a>
		<a (click)="global.openSocial('instagram')" >
			<ion-icon data-href="https://www.instagram.com/aroundthewodapp/?hl=it" name="logo-instagram"></ion-icon>
		</a>
	</div>
  </ion-toolbar>
</ion-footer>
