<ion-header class="colorPersonal">
	<ion-navbar>
		<ion-title>
			{{global.title}}
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding style="text-align: center;">

	<ion-fab right bottom class="paddingOnFooter">
		<button mini (click)="scrollToBottom()" ion-fab class="buttonFab"><ion-icon name="arrow-dropdown"></ion-icon></button>
	</ion-fab>
	Your search: <br />
	<ion-chip>
		<ion-label>{{citta}}</ion-label>
	</ion-chip>
	<br />
	<br /> Our friends: <br />
	<ion-card *ngFor="let item of listaOrganizzazioni" (click)="selectOrg(item)" tappable style="width: 100%; margin-left: 0; margin-bottom: 10px; text-align: left;">
		<ion-card-content>
			<ion-card-title>
				{{ item.nome }}, {{ item.citta }} <br /> {{ item.tipo }}
			</ion-card-title>
			<p>
				{{ item.descrizione }} <br /> Where: {{ item.dove }} <br /> {{ item.telefono }}<br />
				<a *ngIf="item.url_social" href="{{ item.url_social }}">
					<ion-icon name="logo-facebook" class="bottoniJustText" style="font-size: 50px;"></ion-icon>
				</a>
				<a *ngIf="item.url_social_instagram" href="{{ item.url_social_instagram }}">
					<ion-icon name="logo-instagram" class="bottoniJustText" style="font-size: 50px;"></ion-icon>
				</a>
			</p>
		</ion-card-content>
	</ion-card>

	<div class="textNoResults" *ngIf="!listaOrganizzazioni">
		<ion-icon ios="ios-sad" md="md-sad"></ion-icon>
		No results found for this place...
	</div>
</ion-content>
<footer [userLogged]="global.userLogged"></footer>